
input, img {
    margin: 20px;
}

body {
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    font-weight: bold;

}

#title {
    font-size: xx-large;
}

#singli {
    font-size: 200%;
}
input[type="submit"], input[type='text'], #user_name, option{
    background-color: rgba(255,155,855,0.8) !important;
}

.num {
    font-size: xx-large;
    color: #3a3dff;
}
form, #user, #title {
    margin-top: 20px;
    text-align: center;
}

#title {
    margin-top: 40px;
}

img {
    border-radius: 100%;
}

#index-body {
    background: url("../img/macsikaka.jpg") no-repeat;
    background-size: cover;


}

#quiz-body {
    background: url("../img/macsektr.jpg");
    background-size: cover;


}

#result-body {
    background: url("../img/result.png") no-repeat;
    background-size: cover;
}

html,body{
    height:100%
}

.bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
    0%{top:110%}
}
@-moz-keyframes love {
    0%{top:110%}
}
@-ms-keyframes love {
    0%{top:110%}
}
@keyframes love {
    0%{top:110%}
}
input[type='radio'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    border:1px solid darkgray;
    background-color: rgba(255,155,855,0.8);
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
input[type='radio']:checked:before {
    background:#3a3dff ;;
}