<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>




    <title>Singliton</title>

</head>
<body>

<form action="/result" >
    <p th:text="${name}"></p>
    <label>Question1</label>
    <input type="radio" name="gender" value="male"> Male</input>
    <input type="radio" name="gender" value="female"> Female</input>
    <input type="radio" name="gender" value="other"> Other</input><br></br>

    <label>Question2</label>
    <input type="radio" name="gender" value="male"> Male</input>
    <input type="radio" name="gender" value="female"> Female</input>
    <input type="radio" name="gender" value="other"> Other</input><br></br>

    <label>Question3</label>
    <input type="radio" name="gender" value="male"> Male</input>
    <input type="radio" name="gender" value="female"> Female</input>
    <input type="radio" name="gender" value="other"> Other</input><br></br>

    <label>Question4</label>
    <input type="radio" name="gender" value="male"> Male</input>
    <input type="radio" name="gender" value="female"> Female</input>
    <input type="radio" name="gender" value="other"> Other</input><br></br>

    <label>Question5</label>
    <input type="radio" name="gender" value="male"> Male</input>
    <input type="radio" name="gender" value="female"> Female</input>
    <input type="radio" name="gender" value="other"> Other</input><br></br>


    <input id = "result" type="submit" value="Get result!"></input>
</form>
</body>
<footer>
    <script type="text/javascript" src="../js/main.js"></script>
</footer>
</html>